<div class="container">
  <!--(nombre_evento_personalizado)="código_ejecutado"-->
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <!--element es un atributo, que debe coincidir con el nombre del atributo/método hijo al que queremos acceder-->
      <!--Con esto, le pasamos el valor desde el componente padre al componente hijo. [nombre_propiedad_del_hijo/alias]="elemento de este componente cuyo valor le pasamos"-->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
      >
      <!--Todo lo que se ponga dentro de un componente personalizado se pierde por defecto. Se puede evitar añadiendo <ng-content> en el hijo, en este caso, pp-server-element-->
      <p>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
          serverElement.content
        }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{ serverElement.content }}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>
