<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName" />-->
    <!--Referencia local con #string. Mantiene una referencia a este elemento y a sus propiedades. Se puede usar en cualquier parte del archivo .html-->
    <input type="text" class="form-control" #serverNameInput />
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent" />-->
    <input type="text" class="form-control" #serverContentInput/>
    <br />
    <!--Le pasamos al método la referencia local serverNameInput, y cogemos de este la propieda value-->
    <button
      class="btn btn-primary"
      style="margin-right: 3px"
      (click)="onAddServer(serverNameInput.value)"
    >
      Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput.value)"
    >
      Add Server Blueprint
    </button>
  </div>
</div>
